@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: #00A9C3 1px solid;
}

::selection {
  background-color: black;
  color: #00A9C3;
}

body {
  background-color: #F7F8FA;
}

img, video {
  height: revert-layer;
}

h1 {
  font-size: 2em;
  font-weight: 900;
}

h2 {
  font-size: 1.5em;
  font-weight: 800;
}

h3 {
  font-size: 1.17em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 600;
}

h5 {
  font-size: 0.83em;
  font-weight: 500;
}

h6 {
  font-size: 0.67em;
  font-weight: 700;
}

input {
  color: black;
}

a.active {
  background-color: #2F2F3D;
  color: #7ba1fb
}

.main-card {
  @apply md:w-[30vw] lg:w-[35vw] xl:w-[26vw] text-lg bg-white shadow-xl shadow-shadows w-fit flex flex-col justify-center items-center
                    pb-3 pt-2 px-6 rounded-main text-black relative;
}

.err-msg {
  @apply text-red-500 text-sm text-right block mt-2;
}

.slider::-webkit-scrollbar {
  width: 15px;
  /* width of the entire scrollbar */
}

.slider::-webkit-scrollbar-track {
  background: rgb(237, 237, 237);
}

.slider::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.80);
  border-radius: 20px;
  border: 1px solid #00A9C3;
}

.slider::-webkit-scrollbar-thumb:hover {
  background-color: black;
}