@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: black;
  color: #00A9C3;
}

body {
  background-color: #F7F8FA;
}

img, video {
  height: revert-layer;
}

h1 {
  font-size: 2em;
  font-weight: 900;
}

h2 {
  font-size: 1.5em;
  font-weight: 800;
}

h3 {
  font-size: 1.17em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 600;
}

h5 {
  font-size: 0.83em;
  font-weight: 500;
}

h6 {
  font-size: 0.67em;
  font-weight: 700;
}

thead {
      --tw-bg-opacity: 1;
    background-color: rgb(100 116 139 / var(--tw-bg-opacity)) /* #64748b */;
    color: white;
}

th {
  font-weight: 600 !important;
}

input {
  color: black;
}

a.active {
  background-color: #00A9C3;
  color: white
}

a:active {
  outline: none;
}

.main-card {
  @apply md:w-[30vw] lg:w-[35vw] xl:w-[26vw] text-lg bg-white shadow-xl shadow-shadows w-fit flex flex-col justify-center items-center
                    pb-3 pt-2 px-6 rounded-main text-black relative;
}

.main-card .err-msg {
  align-self: self-start;
}

.err-msg {
  @apply text-red-500 text-base block mt-2 text-left;
}

.slider::-webkit-scrollbar {
  width: 15px;
  /* width of the entire scrollbar */
}

.slider::-webkit-scrollbar-track {
  background: rgb(237, 237, 237);
}

.slider::-webkit-scrollbar-thumb {
  background-color: rgba(151, 150, 150, 0.8);
  border-radius: 20px;
  border: 1px solid #00A9C3;
}

.slider::-webkit-scrollbar-thumb:hover {
  background-color: rgba(77, 76, 76, 0.8);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.animate-spin-fast {
    animation: spin 0.5s linear infinite;
}

/* Quill Editor */
.quill {
  height: 100%;
  overflow: hidden;
  border-radius: 0.75rem;
}
.ql-toolbar {
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  border-bottom: 1px solid #eee !important;
}
.ql-container.ql-snow {
  border: 0;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  max-height: calc(24rem - 43px);
}

/* Basic styles for the <code> tag */
code, pre {
  background-color: #f3f4f6; /* Light gray background */
  color: #d946ef; /* Purple text color */
  font-family: 'Courier New', Courier, monospace; /* Monospace font */
  font-size: 0.9em; /* Slightly smaller font size */
  padding: 0.2em 0.4em; /* Padding inside the code tag */
  border-radius: 12px; /* Rounded corners */
  border: 1px solid #e5e7eb; /* Light border */
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  code, pre {
    background-color: #374151; /* Dark gray background */
    color: #f472b6; /* Pink text color */
    border-color: #4b5563; /* Darker border */
  }
}

/* Hover effect (optional) */
code:hover {
  background-color: #e5e7eb; /* Slightly darker background on hover */
  transition: background-color 0.2s ease; /* Smooth transition */
}